<div class="container py-10 px-10 mx-0 min-w-full grid grid-cols-5 gap-3 place-items-center" className="contactdiv">
  <div class="col-span-2">
    <h2 class="text-5xl text-black text-center">Erlava Tutorial</h2>
    <br />
    <p class="text-center text-black">Welcome to the Tutorial</p>
  </div>
  <div class="col-span-3">
    <img
        hx-get="/lizzard"
        hx-swap="outerHTML"
        hx-trigger="load delay:0.1ms"
        src=""
          class="h-45 w-45">
  </div>
</div>

<div class="flex items-center justify-center">
  <br><br>
  <p class="text-3xl">Erlang Awakens <p>
  <p class="text-4xl">|</p>
  <p class="text-3xl">Introduction</p>
</div>
<br><br>

<div class="grid grid-cols-5 gap-3"> 
    <div class="p-5 flex shadow-xl items-center h-full bg-gray-200 text-2xl col-span-3">
      <p>
Behold, Erlava! A mighty language forged in the fires of Java,
yet imbued with the spirit of Erlang's concurrency.

Erlava, a general-purpose language, rises from the ashes to conquer the realm of distributed applications.

Built upon the bedrock of Java, Erlava leverages its robust libraries and tooling.
But fear not, for Erlava speaks a different tongue, one inspired by Erlang's elegance for handling concurrency.
    </p>
    </div>
    <div class="p-1 shadow-xl text-2xl flex h-full bg-orange-100 col-span-2">
Interpreted by a cunning runtime, Erlava's code flows freely, unburdened by the shackles of compilation.
An extensive standard library, a cornucopia of functionality, awaits your command.

Embrace Erlava, and build applications that scale to the heavens,
applications that dance across a multitude of machines,
applications that are truly concurrent!
    </div>
</div>

<br><br>

<div id="md"
    hx-get="/hello"
    hx-swap="outerHTML"
    hx-trigger="load delay:0.1ms"></div>

<div 
  class="p-5 grid grid-cols-9 mx-auto my-auto gap-5 items-center rounded-md shadow-sm">
  <button 
    hx-post="/hello"
    hx-target="#md"
    class="bg-gray-100 hover:bg-gray-50 text-white-200 rounded-xl">Hello</button>
  <button 
    hx-post="/literals"
    hx-target="#md"
    class="bg-gray-100 hover:bg-gray-50 text-white-200 rounded-xl">Literals</button>
  <button class="bg-gray-100 hover:bg-gray-50 text-white-200 rounded-xl">Three</button>
  <button class="bg-gray-100 hover:bg-gray-50 text-white-200 rounded-xl">Four</button>
  <button class="bg-gray-100 hover:bg-gray-50 text-white-200 rounded-xl">Five</button>
  <button class="bg-gray-100 hover:bg-gray-50 text-white-200 rounded-xl">Six</button>
  <button class="bg-gray-100 hover:bg-gray-50 text-white-200 rounded-xl">Seven</button>
  <button class="bg-gray-100 hover:bg-gray-50 text-white-200 rounded-xl">Eight</button>
  <button class="bg-gray-100 hover:bg-gray-50 text-white-200 rounded-xl">Nine</button>
  <button class="bg-gray-100 hover:bg-gray-50 text-white-200 rounded-xl">Ten</button>

</div>



